body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 16px;
}
button {
    display: block;
    margin: 20px auto;
    padding: 4px 12px;
    background-color: #d1a15c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
button:hover {
    background-color: #b7874f;
}